html,body{
    margin:0px;
    height:max(606px,100%); 
    width:max(527px,100%);
    box-sizing:border-box
}

@font-face {
    font-family: my-cool-font;
    src: url(./fonts/Norse-Bold.otf);
}

#container{
height:100%;
display:flex;
width:100%
}

#left-screen{
height:100%;
width:40%;


}

#plants{
    height:100%;
    width:100%;
}

#banner{
    position:absolute;
    height:75px;
    width:40%;
    background-color:black;
    color:white;
    top:8rem;
    opacity:0.75;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:my-cool-font,sans-serif;
    font-size:50px
}

#credit{
    position:absolute;
    bottom:10px;
    left:5px;
    color:white;
    font-size:15px
}

a{
    color:white
}

#odin{
    height:90%;
    width:70px;
}


#right-screen{
height:100%;
width:60%;
display:flex;
flex-direction:column

}

form{
    height:100%;
    width:100%;
}




p{
    margin-left:20px;
    margin-top:18px
}


#message{
    
    width:100%;
    height:30%;
    background:rgba(127, 243, 114, 0.788);
    font-weight:bold

}

#input{
    
    width:100%;
    height:40%;

}

h3{
    margin-left:10px
}

fieldset{
    height:12%;
    width:90%;
    display:flex;
    border:0
}


label{
    margin-right:10px;
    margin-left:5px;
    font-size:90%
}

#warning{
    margin-left:20px;
    color:red
}

#confirm-pass,#phone, #name-last{
    margin-left:50px
}

#password:invalid{
    border:2px solid red;
    outline:none
}

#confirm-password:invalid{
    border:2px solid red;
    outline:none
}

input:focus{
    border:solid 2px blue;
    outline:none;
    box-shadow:grey 3px 3px
}


input{
    height:75%;
    width:30%;
    
    
}


#create{
    
    width:100%;
    height:30%;
    background:rgb(139, 240, 117)
}

button{
    margin-left:20px;
    margin-top:20px;
    height:40px;
    width:150px;
    background-color:#596D48;
    color:white;
    border-radius:10px
}